<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
    Dish CRUD
  </a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <table class="table table-hover table-primary table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dish of dishArray" role="button"
          (click)=openForEdit(dish)
          [class.table-active]="dish.id == selectedDish.id">
            <th scope="row">{{dish.id}}</th>
            <td>{{dish.name}}</td>
          </tr>          
        </tbody>
      </table>
      <div *ngIf="selectedDish.id > 0 || showCard" class="card mt-4">
        <div class="card-body">
          <div class="card-title">
             Dish:
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedDish.name" placeholder="Name" class="form-control" />            
          </div>
          <button (click)=addOrEdit() class="btn btn-primary me-1 mt-4">
            Save
          </button>
          <button 
          *ngIf="selectedDish.id !== 0"
          (click)=delete(selectedDish.id)
          class="btn btn-danger me-1 mt-4">Delete</button>
          <button (click)=cancel() class="btn btn-secondary mt-4">
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-4">
      <button class="btn btn-success" (click)=showEmptyCard()>Add</button>
    </div>
  </div>
</div>
